.Main2{
    width:40vw;
    background-color: red;
    margin: 15px;
    border:15px solid rgb(145, 56, 228);
    border-radius: 7pxz;
    
}
.Main2 img{
    width: 40vw;
    height: 60vh;
    border-radius: 50px;
    
}
button{
    background-color: grey;
    border: 3px solid black;
    border-radius: 20px;

}
